[submodule "term5-art"]
	path = term5-art
	url = https://github.com/Artemiy111/gelios
[submodule "term5-vit-pegasus"]
	path = term5-vit-pegasus
	url = https://github.com/Artemiy111/pegasus
[submodule "term5-golden-tours-sveltekit-hono"]
	path = term5-golden-tours-sveltekit-hono
	url = https://github.com/Artemiy111/golden-tours-sveltekit-hono
[submodule "term5-gelios-nextjs"]
	path = term5-gelios-nextjs
	url = https://github.com/Artemiy111/gelios-nextjs
[submodule "term5-cruessida"]
	path = term5-cruessida
	url = https://github.com/Artemiy111/cruessida
